*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: gray;
    transition: 1.3s ease background-color;
}
#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-bar .brand a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
#header .nav-bar .nav-list .hamburger{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    z-index: 2;
    border: 2px solid white;
    border-radius: 50%;
    transform: scale(.8);
}
#header .nav-bar .nav-list .hamburger::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid green;
    animation: hamburger 1s ease infinite;
}
@keyframes hamburger {
    0%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
    
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: gray;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    overflow-x: hidden;
    transition: 2s ease left;
}
#header .nav-list ul.active{
    left: 0;
}

#header .nav-list ul li{
    margin-bottom: 15px;

}
#header .nav-list ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    transition: 1s ease color;
    text-transform: uppercase;
    display: block;
}
#header .nav-list ul li a:hover{
    color: crimson;
}
#header .nav-list ul li a::after{
    content: attr(data-after);
    position: absolute;
    font-size: 7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: -1;
    color: black;
    opacity: .5;
    letter-spacing: 40px;
    transition: .7s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
/* Bar styling */
#header .nav-bar .nav-list .hamburger .bar{
    width: 40px;
    height: 2px;
    background-color: white;
    margin: 4px;
}
#header .nav-bar .nav-list .hamburger .bar::before,
#header .nav-bar .nav-list .hamburger .bar::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: white;
}
#header .nav-bar .nav-list .hamburger .bar::before{
    top: 17px;
}
#header .nav-bar .nav-list .hamburger .bar::after{
    bottom: 17px;
}

#header .nav-bar .nav-list .hamburger.active .bar::before{
    background-color: transparent;
}
#header .nav-bar .nav-list .hamburger.active .bar::after{
    background-color: transparent;
}
/* main section */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main .container .img {
    position: relative;
    width: 100%;
    height: 100%;
}
main .container .img::after {
    content: '';
    position: absolute;
    left: -16px;
    top: 7px;
    height: 100%;
    width: 100%;
    border: 7px solid crimson;
    z-index: -1;

}

/* End main section */
@media screen and (min-width: 962px) {
    #header .nav-bar .nav-list .hamburger{
        display: none;
    }
   
    #header .nav-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 8vh;
        max-width: 1300px;
    }
    #header .nav-bar .nav-list ul{
        position: initial;
        width: fit-content;
        display: block;
        height: auto;
        background-color: transparent;
    }
    #header .nav-bar .nav-list ul li{
        position: relative;
        top: 8px;
        display: inline-block;
        margin-right: 8px;
    }
    #header .nav-bar .nav-list ul li a{
        font-size: 1.5rem;
    }
    #header .nav-bar .nav-list ul li a::after{
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    #header .nav-bar{
        margin: 0 auto;

    }
    
}